<!DOCTYPE html>
<!-- APP_NAME: <%= htmlWebpackPlugin.options.title %> -->
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>" />
  <meta name="format-detection" content="telephone=no" />

  

  <% if (htmlWebpackPlugin.options.baseHref) { %>
   <base href="<%= htmlWebpackPlugin.options.baseHref %>">
   <% } %>

   <% for (key in htmlWebpackPlugin.files.css) { %>
    <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
      <link
        href="<%= htmlWebpackPlugin.files.css[key] %>"
        rel="stylesheet"
        integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
        crossorigin="<%= webpackConfig.output.crossOriginLoading %>"/>
    <% } else { %>
      <link href="./<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"/>
    <% } %>
  <% } %>
</head>
<body>

  <noscript>
    JavaScript must be enabled to view this app.
  </noscript>

  <div id="catalog" ></div>

  <% if (!htmlWebpackPlugin.options.inject) { %>
    <% for (key in htmlWebpackPlugin.files.chunks) { %>
      <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
      <script
        src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
        type="text/javascript"
        integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
        crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script>
      <% } else { %>
      <script src="./<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript" defer></script>
      <% } %>
    <% } %>
  <% } %>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.googleAnalytics.id %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= htmlWebpackPlugin.options.googleAnalytics.id %>');
  </script>
   <% } %>

   <script>
    
    console.log('Eval <%= Date.now() %>');
    </script>

</body>
</html>
